* {
    margin: O;
    padding: O;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* header p {
    text-align: center;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    padding: 10px;

} */

header,
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;

}

/* main h1 {
    text-align: center;
    font-size: 30px;
} */

/* main {
    text-align: center;
    font-size: 30px;
} */

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

/* main picture img {
    display: block;
    margin: 0 auto;
    border: 1px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
} */

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

/* section {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 35px;
} */

section {
    background-color: #abe;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    margin: 20px 0;
    font-size: .9rem;
}

/* section h2 {
    text-align: left;
    border-bottom: 1px solid #000;
} */

/* section P {
    text-align: left;
} */

h2 {
    border-bottom: 1px solid #222;
}

section P {
    margin: 10px;
}

/* section ul li {
    padding: 5px;
}
 */

/* footer p {
    text-align: center;
    background-color: #333333;
    color: #fff;
    font-size: 20px;
    padding: 10px;
} */

ul {
    margin: 10px 20px;
}

footer {

    font-size: .9rem;

}